@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*{
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    
}

body{
    background-color: #ecf0f1;
    font-family: 'Lato', sans-serif;
}

header{
    text-align: center;
    background-color: #ffffff;
    color: #1d2b38;
    padding: 1em;
}

header h1{
    font-size: 1.5em;
}

.btn-secondary{
    border-radius: 50%;
}

.dropdown{
    font-size: 1.5em;
    margin-top: -20px;
    margin-right: -150px;
}

.btn-secondary{
    background-color: #c0392b;
    border: none;
}
.btn-secondary:hover{
    background-color: #e74c3c;
}

.book img{
    width: 150px;
}

.card-body{
    padding : 0;
    padding-bottom: 20px;
}